<launch>
    <node name="arduino_bringup" pkg="rosserial_arduino" type="serial_node.py" output="screen">
        <param name="port" value="/dev/ttyACM0" />
    </node>

    <rosparam file="$(find ydpibot_bringup)/param/pid.yaml" command="load" ns="pid"/>
    <rosparam file="$(find ydpibot_bringup)/param/robot.yaml" command="load" ns="robot"/>

    <node name="differential_drive_kinematic" pkg="ydpibot_bringup" type="diff_drive_kinematic.py" output="screen">
    </node>

    <include file="$(find ydlidar)/launch/lidar.launch"/>

</launch>